/*
selector {
    property: value;
}
*/

/* On style conflict (multiple id/class), the last selector applied wins. */

/* UNIVERSAL SELECTOR */

* {
    background-color: purple;
    color: white; /* Applies to every element */ 
}


/* TYPE SELECTOR */

div {
    background-color: black;
    text-align: center;
    font-weight: 700; /* Applies to every <div></div> */  
}


/* CLASS SELECTOR */

/* <p class="class-id"> </p> */
/* <a class="class-id another-class-id"> </a> */

.class-id {
    background-color: yellow; /* Applies to every HTML element with the class attribute set to "class-id" */
    color: black;
}


/* ID SELECTOR */

/* <p id="unique-id"> </p> */
/* <a id="another-unique-id"> </a> */

#unique-id {
    background-color: gray; /* Applies ONLY to the HTML element with the id attribute set to "unique-id" */
}


/* GROUPING SELECTOR */
.class-id-one,
.class-id-two {
    color: white; /* Shared property between "class-id-one" and "class-id-two" */
    background-color: red;
}

.class-id-one {
    height: 30px;
    text-align: left;
    /* Several unique declarations */
}

.class-id-two {
    text-align: right;
    /* Several unique declarations */
}


/* CHAINING SELECTOR */

/* Chaining classes */
.class-id-one.class-id-two {
    background-color: magenta; /* Applies ONLY to the HTML element with the class attribute set to "class-id-one" and "class-id-two" */
}

/* Chaining a class and an id */
.class-id#unique-id {
    background-color: green; /* Applies ONLY to the HTML element with the class attribute set to "class-id" and the id attribute set to "unique-id" */
}

/* Chaining a type and a class */
p.class-id {
    background-color: cyan; /* Applies ONLY to the HTML element <p> with the class attribute set to "class-id" */
}

p#unique-id {
    background-color: orange; /* Applies ONLY to the HTML element <p> with the id attribute set to "unique-id" */
}
p#unique-id.class-id {
    background-color: yellowgreen; /* Applies ONLY to the HTML element <p> with the id attribute set to "unique-id" */
}

/* You can't chain more than one Type Selectors (it is a type conflict) */


/* DESCENDANT COMBINATOR */

/* Class descendant */
.class-father .class-child {
    color: yellow; /* Applies ONLY if the HTML element has the class attribute set to "class-child" and is nested to an HTML element that has the class attribute set to "class-father" */
}

/*

<div class="class-father">
  
  <div class="class-child"> <!-- APPLIES -->

    <div class="class-child"> <!-- APPLIES -->
    </div> 

  </div>

</div>

<div class="class-child"> <!-- NOT APPLIES -->
</div>

*/

/* Id descendant */
#unique-id-father #unique-id-child {
    color: greenyellow; /* Applies ONLY if the HTML element has the id attribute set to "unique-id-child" and is nested to an HTML element that has the id attribute set to "unique-id-father" */
}

/* Class & Id descendant */
.class-father-two #unique-id-child-two {
    color: blue; /* Applies ONLY if the HTML element has the id attribute set to "unique-id-child-two" and is nested to an HTML element that has the class attribute set to "class-father-two" */
}

/* Id & Class descendant */
#unique-id-father-two .class-child-two  {
    color: orange; /* Applies ONLY if the HTML element has the class attribute set to "class-child-two" and is nested to an HTML element that has the class attribute set to "unique-id-father-two" */
}
